@import "tailwindcss";

@theme {
  --color-primary: #00579D;
  --color-dark: #003F7D;
  --color-weg-light: #EAF4FF;
}

/* 

    tailwind.config = {
      theme: {
        extend: {
          colors: {
            weg: {
              blue: '#00579D',
              dark: '#003F7D',
              light: '#EAF4FF'
            }
          },
          fontFamily: {
            sans: ['Inter', 'Arial', 'sans-serif']
          }
        }
      }
    }

*/